
@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h1 class="display-4">SOBRE NÓS</h1>

    <p>
        LavoCar é uma empresa de lavagem de carros há anos no mercado, especializada em limpeza <br />
        automotiva
    </p>
</div>